body {	
	color:#000;	font-family: 'Roboto', sans-serif;
}

body.noscroll {
	overflow: hidden;
}

.ease {
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}

ul li {list-style-type: none; margin: 0; padding: 0;}
.container-fluid {
	padding: 0;
}
.wrap1440 {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 10px;
}
.wrap1240 {
	max-width: 1240px;
	margin: 0 auto;
	padding: 0 10px;
}
.wrap1080 {
	max-width: 1080px;
	margin: 0 auto;
	padding: 0 10px;
}
.clear, .clr {
	clear: both;
}
.mhead {
	margin-bottom: 30px;
}
.main-head {
	padding-top: 34px;
	max-width: 1440px;
	margin: 0 auto;
	position: relative;
	z-index: 20;
}
.mnu-head {
	float: right;
	margin-right: 8.3%;
}
.top-mnu {
	font-size: 14px;
}
.top-mnu {
	margin-bottom: 0;
	padding-left: 0;
}
.top-mnu li {
	display: inline-block;
	padding: 0 11px;
}
.top-mnu a {
	font-size: 14px;
	color: #d06059;
	text-decoration: none;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.top-mnu a:hover,
.top-mnu a:active {
	opacity: 0.60;
}
.top-mnu a:hover span,
.top-mnu a:active span {
	text-decoration: underline;
}
.top-mnu a img {
	float: left;
	margin-right: 4px;
	margin-top: 2px;
}
.top-mnu li.arrowLi {
	position: relative;
	background-image: url(../img/dropArr.png);
	background-position: right center;
	background-repeat: no-repeat;
	width: 77px;
}
.top-mnu li.arrowLi a:hover {
	cursor: pointer;
}
.top-mnu li ul {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	left: 0;
	top: -10px;
	background-color: #FFF;
	padding: 10px 11px 0 11px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.5);
	z-index: 100;
	width: 100%
}

.top-mnu li.arrowLi:hover ul {
	visibility: visible;
	opacity: 1;
}

.top-mnu li ul li {
	padding: 0;
	display: block;
	text-align: left;
	margin-bottom: 10px;
}
.top-mnu li ul li a {
	color: #00447F;
}
.top-mnu li ul li a:hover,
.top-mnu li ul li a:active {
	opacity: 0.60;
}
.top-mnu li ul li.active a {
	color: #d06059;
}
.logoHolder {
	top: -10px;
	position: relative;
	overflow: hidden;
	z-index: 10;
}
.logoHolder .innerWrapper {
	width: 75%;
	margin-left: 14.9%;
	padding: 0;
	position: relative;
}
.logoHolder hr {
	margin: 0;
	position: absolute;
	left: 0;
	top: 41px;
	width: 100%;
}
hr.redline {
	z-index: 1;
	border-top: 4px solid #d8271b;
}
hr.blueline {
	z-index: 2;
	width: 3000px;
	border-top: 4px solid #004681;
}
.logos {
	position: relative;
}
.mainlogo {
	position: relative;
	z-index: 5;
}
.lw-left {
	width: 242px;
	float: left;
}
.lw-right {
	width: 1198px;
	float: left;
}
.header-wrap {
	margin-top: 100px;
}

.contentWrapper .sidebar {
	float: left;
	width: 16.6%;
	padding: 0 30px 0 10px;
}

.contentWrapper .contentBar {
	float: left;
	width: 75%;
	z-index: 1;
  background-color: #fff;
}
.contentWrapper .contentBar ul {
	padding-left: 0;
}

.sidebar .nav li a {
	padding: 5px 0;
	background-color: transparent !important;
}

.sidebar-mnu ul {
	padding: 0;
}
.sidebar-mnu a {
	font-size: 18px;
	color: #d8271b;
	font-weight: bold;
	text-decoration: underline;
}

.sidebar-mnu a:hover,
.sidebar-mnu a:active,
.sidebar .nav li.active a {
	color: #000;
	text-decoration: none;
}
.call p {
	font-size: 14px;
	color: #4a4a4a;
	padding-top: 50px;
	line-height: 19px;
	padding-bottom: 7px;
	margin: 0;
}
.call h1 {
	font-weight: bold;
	font-size: 18px;
	color: #4a4a4a;
	margin: 0;
	line-height: 1.3;
}
.slider-wrap {
	margin: 0;
	padding: 0;
}
.slider-wrap img {
	width: 100%;
}
.search-wrap {
	margin-top: 1px;
	background-color: #004681;
	text-align: center;
	color: #fff;
}
.search-wrap h1 {
	line-height: 48px;
	margin: 0;
	font-weight: bold;
	font-size: 24px;
	padding: 35px 0;
}
.searchMainInputs {
	margin: 0 6%;	
}
.searchbar {
	color: #000;
	width: 100%;
	outline: none;
	border: 1px solid #fff;
	height: 70px;
	font-size: 20px;
	line-height: 28px;
	margin: 0;
	padding-left: 20px;
  box-shadow: inset 0 3px 10px 0 rgba(0, 0, 0, 0.31);
}
}
input [type="text"] {
	font-size: 24px;
	color: #9b9b9b;
}
.searchbtn {
	outline: none;
	background-color: #004681;
	color: #fff;
	border: 8px solid #fff;
	height: 70px;
	width: 20%;
	font-size: 20px;
	line-height: 28px;
	padding: 10px 0;
}
.searchbtn:hover,
.searchbtn:active {
	background-color: #003A6A;
}
.hints {
	position: relative;
	z-index: 10;
	margin-top: 50px;
	padding-bottom: 50px;
}
.hintToolTip {
	color: #80A2C0;
	font-size: 14px;
	display: inline-block;
	padding: 0 3% 0 2%;
	background: url("../img/hint.svg");
	background-repeat: no-repeat;
	background-position: left center;
	cursor: pointer;
	line-height: 16px;
	position: relative;
}
.hintToolTip:hover:after {
	background-color: #000;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
	bottom: 48px;
	color: #FFF;
	content: attr(title);
	left: 2%;
	padding: 20px 15px;
	position: absolute;
	z-index: 1;
	width: 237px;
}
.hintToolTip:hover:before {
  border: solid;
  border-color: #000 transparent;
  border-width: 17px 20px 0 0;
  bottom: 32px;
  content: "";
  left: 2%;
  position: absolute;
  z-index: 1;
}
.content-wrap {
	margin-top: 30px;
}
.content-icon {
	text-align: center;
	padding-left: 50px;
}
.content-icon a {
	font-weight: bold;
	line-height: 23px;
	font-size: 16px;
	color: #004681;
	text-transform: uppercase;
}
.content-icon a:hover,
.content-icon a:active {
	text-decoration: none;
	opacity: 0.80;
}
.content-icon a:hover,
.content-icon a:active {
	text-decoration: none;
}
.content-icon a span {
	display: block;
}
.content-icon a img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
	margin-bottom: 10px;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.content-icon a:hover img,
.content-icon a:active img {
	text-decoration: none;
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
.divi1-wrap {
	float: left;
	margin-right: 39px;
	width: 190px;
}
.divi2-wrap {
	float: left;
	margin: 0 39px;
	width: 190px;
}
.divi3-wrap {
	float: left;
	margin-left: 39px;
	width: 190px;
}
.app-wrap {
	margin-top: 60px;
}
.app-online, .app-download {
	background-color: #e5e5e5;
    height: 360px;
    margin-right: 11px;
	padding: 28px 1% 28px 8%;
}
.app-download {
	margin-right: 0;
	margin-left: 11px;
}
.app-wrap	h1 {
	padding-bottom: 20px;
	font-weight: bold;
	font-size: 24px;
	line-height: 35px;
	margin: 0;

}
a.blueArrowedBtn {
	/*font-weight: bold;*/
	font-size: 16px;
	color: #FFF;
	display: block;
	padding: 15px 15px 15px 0;
	width: 100%;
	background-image: url(../img/blueBtnArr.png);
	background-position: right center;
	background-repeat: no-repeat;
	background-size: auto 100%;
	margin-bottom: 18px;
	cursor: pointer;
}
a.blueArrowedBtn span {
	display: block;
	line-height: 18px;
	padding-left: 44px;
	background-image: url(../img/listIcon.png);
	background-position: 13px center;
	background-repeat: no-repeat;
}
a.blueArrowedBtn:hover,
a.blueArrowedBtn:active {
	text-decoration: none;
	width: 98%;
	opacity: 0.90;
}

.ao-links a.redArrowedBtn {
	/*font-weight: bold;*/
	font-size: 16px;
	color: #FFF;
	display: block;
	padding: 15px 15px 15px 0;
	width: 100%;
	background-image: url(../img/redBtnArr.png);
	background-position: right center;
	background-repeat: no-repeat;
	background-size: auto 100%;
	margin-bottom: 28px;
}
.ao-links a.redArrowedBtn span {
	display: block;
	line-height: 18px;
	padding-left: 44px;
	background-image: url(../img/hint.svg);
	background-position: 14px center;
	background-repeat: no-repeat;
}
.ao-links a.redArrowedBtn:hover,
.ao-links a.redArrowedBtn:active {
	text-decoration: none;
	width: 98%;
	opacity: 0.90;
}
.download-links, .ao-links {
	height: 260px;
}

.download-links a {
	display: block;
	font-size: 14px;
	position: relative;
	padding-left: 54px;
	margin-bottom: 10px;
	min-height: 24px;
	line-height: 1.6;
}
.download-links a:hover,
.download-links a:active {
	text-decoration: none;
	opacity: 0.80;
}
.download-links a img {
	position: absolute;
	left: 0;
	top: 0;
}
.fa-red {
	color: #d8271b;
}
.footer {
	margin: 60px 0;
}
.copyright {
	float: left;
	margin-left: 20px;
}
.copyright p {
	font-size: 12px;
	line-height: 24px;
	opacity: 0.4;
}
.useterm {
	float: right;
	margin-right: 20px;
}
.useterm a {
	font-size: 14px;
	line-height: 24px;
	color: #346289;
	display: inline;
	padding-left: 10px;
}
.sideContent h1 {
	font-size: 24px;
	font-weight: normal;
	margin-bottom: 7%;
}
.rightSidebarMenu {
	padding: 4% 0;
}
.rightSidebarMenu .nav li a {
	padding: 5px 0;
	background-color: transparent !important;
}

.askForm {
	background-color: #FFF;
	padding: 16px;
}

.questionFormHolder {
	border: 1px solid #e5e5e5;
	padding: 0 6.5%;
}
.questionFormHolder h1{
	font-size: 24px;
	margin-bottom: 8%;
}
.questionFormHolder label {
	font-size: 16px;
	font-weight: normal;
}
.questionFormHolder input, button {
	width: 100%;
	border-radius: 0;
}
.questionFormHolder .btn {
	border-radius: 0;
	padding: 4%;
	font-size: 21px;
	background-color: #004681;
}
.questionFormHolder .form-control {
	border-radius: 0;	
}
.contact-content {
	margin-top: 10%;
}
.togglerTitle {
	font-size: 36px;
	color: #004681;
	cursor: pointer;
	font-weight: normal;
	background: url("../img/plus-circle.svg");
	background-repeat: no-repeat;
	padding-left: 40px;
	background-position: left center;
	margin-top: 0;
	margin-bottom: 20px;
}
.togglerTitle.active {
	color: #000;
	background: url("../img/minus-circle.svg");
	background-repeat: no-repeat;
	background-position: left center;
}
.togglerBlock {
	padding-left: 40px;
	margin-bottom: 50px;
}
.treeContent {
	border: 1px solid #3a8cd2;
	box-shadow: 0 16px 25px 0 rgba(0, 0, 0, 0.1);
	padding: 5%;
}
.treeContent h1 {
	margin-top: 10px;
	font-weight: normal;
}
.topTreeH {
	margin-bottom: 2%;
}
.searchinputs {
	border: 2px solid #004681;
	margin-bottom: 3%;
}
.searchinputs .form-group {
	width: 80%;
	float: left;
}

.treeSearchbar {
	color: #4a4a4a;
	font-weight: bold;
	width: 100%;
	outline: none;
	height: 70px;
	font-size: 20px;
	line-height: 28px;
	margin: 0;
	padding-left: 20px;
	box-shadow: inset 0 3px 10px 0 rgba(0, 0, 0, 0.31);
}
.treeSearchbtn {
	outline: none;
	background-color: #004681;
	color: #fff;
	border: 8px solid #fff;
	height: 70px;
	width: 20%;
	font-size: 20px;
	line-height: 28px;
	padding: 10px 0;
	box-shadow: inset 0 3px 10px 0 rgba(0, 0, 0, 0.31);
} 
.treeCategory p {
	color: #9b9b9b;
	margin-bottom: 0;
}
.treeCategory h1 {
	font-size: 24px;
	font-weight: bold;
	margin-top: 5px;
}
.treeListWrapper {
	margin-top: 2%;
}
.treeListWrapper .container {
	max-width: 960px;
	padding: 0;
}
.treeList {
	width: 50%;
	float: left;
	padding-right: 5%;
}
.treeListCont {

}
.treeInfo {
	width: 50%;
	float: left;
	padding-left: 1%;
}
.productInfo{
	padding-top: 5%;
}
.productInfo h1 {
	font-size: 21px;
	font-weight: bold;
	margin: 5px 0; 
}
.typecWarn {
	font-size: 14px;
	color: #d8271b;
	font-weight: bold;
}
.typecWarn p {
	line-height: 14px;	
}
.tnvedDesc {
	font-size: 16px;
	color: #4a4a4a;
	padding: 3% 0;
}
.tnvedCode {
	color: #000;
	font-weight: bold;
}
.prodOrderBtn {
   outline: none;
   background-color: #004681;
   color: #fff;
   height: 50px;
   width: 35%;
   font-size: 16px;
   padding: 10px 0;
   border: none;
}
.productLine {
	margin: 7% 0;
	color: #cacaca;
}
.productHelp p {
	line-height: 20px;
	font-weight: bold;
	color: #4a4a4a;
}
.applyOnlBtn {
  outline: none;
  background-color: #d8271b;
  color: #fff;
  height: 50px;
  width: 43%;
  font-size: 16px;
  padding: 10px 0;
  border: none;
  margin-bottom: 10px;
}
.catsList {
	border-right: 1px solid #004681;
	border-bottom: 1px solid #e2e2e2;
}
.CatTogglerTitle {
	font-size: 14px;
	margin-bottom: 0;
	margin-top: 0;
	border-top: 1px solid #e2e2e2;
	padding: 3% 0 3% 8%;
	color: #004681;
	cursor: pointer;
	background: url("../img/plus-circle.svg");
	background-repeat: no-repeat;
	background-position: 2% center;
	font-weight: normal;
}
.CatTogglerTitle.active {
	background: url("../img/minus-circle.svg");
	background-repeat: no-repeat;
	background-position: 2% center;
	border-top: none;
	font-weight: bold;
}
.CatTogglerBlock {
	padding: 4% 0;
	border-left: 1px solid #004681;
}
.CatTogglerBlock li {
	padding: 0 4% 0 4%;
}
.CatTogglerBlock li a {
	color: #000;
	padding: 2% 0;		
}
.CatTogglerBlock li a:hover, a:focus{
	text-decoration: none;
}
.treeListCont .active {
	background-color: #004681;
	color: #fff;
}
.CatTogglerBlock .active {
	background: url(../img/bgi-active.png) right center;
	background-size: cover;
	background-repeat: no-repeat;
}
.treeList .productInfo {
	padding-top: 0;	
}
.searchMainInputs .form-group {
	width: 80%;
	float: left;
}
.CatTogglerElem {
	padding: 1.5% 2%;
	cursor: pointer;
	margin-bottom: 0;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	padding: 0;
}
.row {
	margin: 0;
}

.big-slider.owl-carousel .owl-item .mobileVisual {
	display: none;
}

.owl-controls {
	position: absolute;
	width: 90%;
	left: 5%;
	top: 50%;
	margin-top: -25px;
	z-index: 100;
}

.owl-controls .owl-nav>div {
	width: 24px;
	height: 50px;
	overflow: hidden;
	text-indent: -1000px;
	background-repeat: no-repeat;
	background-image: url(../img/arrows.png);
	position: absolute;
	top: 0;
}

.owl-controls .owl-nav>div.owl-prev {
	left: 0;
	background-position: left top;
}

.owl-controls .owl-nav>div.owl-prev:hover,
.owl-controls .owl-nav>div.owl-prev:active {
	background-position: left bottom;
	opacity: 0.80;
}

.owl-controls .owl-nav>div.owl-next {
	right: 0;
	background-position: right top;
}

.owl-controls .owl-nav>div.owl-next:hover,
.owl-controls .owl-nav>div.owl-next:active {
	background-position: right bottom;
	opacity: 0.80;
}
#menu-checkbox {
  display: none;
}
.toggle-button {
	display: none;
}

.blackFade {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	overflow: auto;
	background: url('../js/fancy/fancybox_overlay.png');
}

.blackFade img.loading {
	display: none;
	position: absolute;
	padding: 3px;
	background-color: #000;
	right: 50%;
	top: 50%;
	margin-right: -15px;
	margin-top: -15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.blackFade.loading img.loading {
	display: none;
}

.blackFade .popup {
	max-width: 450px;
	margin: 50px auto;
	position: relative;
}

.blackFade .popup .closeBtn {
	position: absolute;
	right: -38px;
    top: 0px;
	width: 24px;
	height: 24px;
}

.blackFade .popup .closeBtn img {
	display: block;
}

.form-group .help-block {
	font-size: 12px;
	color: #d06059;
}

a.redAskBnt {
	min-width: 165px;
	display: inline-block;
	margin-top: 50px;
	height: 48px;
	line-height: 48px;
	font-size: 16px;
	font-weight: bold;
	color: #FFF;
	background-color: #D5190C;
	padding: 0 10px 0 40px;
	background-image: url(../img/askIcon.png);
	background-repeat: no-repeat;
	background-position: 10px center;
}

a.redAskBnt:hover,
a.redAskBnt:active {
	background-color: #d06059;
	text-decoration: none;
}
.newsBlock {
	background-color: #e5e5e5;
    padding: 28px 4%;
    margin-top: 50px;
}
.newsBlock h1 {
	padding-bottom: 20px;
	font-weight: bold;
	font-size: 24px;
	line-height: 35px;
	margin: 0;
}

.newsBlock .newsItem {
	margin-bottom: 12px;
	font-size: 16px;
	text-align: left;
	position: relative;
	padding-left: 110px;
}

.newsBlock .newsItem span {
	position: absolute;
	left: 0;
	top: 2px;
	width: 95px;
	color: #D4190C;
	border-right: 2px solid #AAAAAA;
	line-height: 20px;
}


a.allNewsBtn {
	display: block;
	width: 190px;
	margin: 30px 0 0;
	height: 48px;
	line-height: 48px;
	font-size: 16px;
	font-weight: bold;
	color: #FFF;
	background-color: #D5190C;
	padding: 0 10px;
	text-align: center;
	padding-left: 44px;
	background-image: url("../img/listIcon.png");
    background-position: 13px center;
    background-repeat: no-repeat;
}

a.allNewsBtn:hover,
a.allNewsBtn:active {
	background-color: #d06059;
	text-decoration: none;
}

a.bigRedLink {
	color: #d8271b;
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
    line-height: 1.5;
}

a.bigRedLink:hover,
a.bigRedLink:active {
	color: #000;
}

.underContent {
	margin-top: 60px;
}
.underContent h1 {
	font-size: 24px;
	margin-top: 0;
	margin-bottom: 30px;
}
.allCertificates {
	text-align: center;
}
.allCertificates p {
	display: inline-block;
	text-align: center;
	font-size: 16px;
	margin: 0 15px 15px 15px;
	color: #004681;
	max-width: 160px;
}
.allCertificates img {
	display: block;
	max-width: 160px;
	margin: 0 auto;
	margin-bottom: 16px;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.allCertificates a:hover,
.allCertificates a:active {
	text-decoration: none;
	color: #000;
}
.allCertificates a:hover img,
.allCertificates a:active img {
	text-decoration: none;
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
/*Module under about content*/
.underContent .ao-links {
	height: auto;
	margin-bottom: 40px;
}
.onlineRequestUnder {
	text-align: center;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
.onlineRequestUnder .ao-links a {
	width: 46%;
	float: left;
	margin: 0 2% 16px 2%;
	text-align: left;
}

.onlineRequestUnder .ao-links a:hover,
.onlineRequestUnder .ao-links a:active {
	width: 48%;
	margin-right: 0;
}

.submenu {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.submenu .submenu-links .row div {
	width: 48%;
	position: relative;
}

.submenu .submenu-links a {
	text-align: left;
	position: relative;
}

.submenu .submenu-links a:hover,
.submenu .submenu-links a:active {
	margin-right: 0;
	width: 103%;
}

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: #D8271B url(../img/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}

.staticPage h1.page-title {
	margin-top: 0;
	margin-bottom: 20px;
}

.staticPage .mainContent {
	/*text-align: justify;*/
}

.mainContent h1 {
	font-size: 36px;
	margin-bottom: 20px;
	margin-top: 0;
}
.mainContent p {
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 20px;
}

.site-contact {
	font-size: 16px;
}

.contentWrapper .contentBar .staticPage ul {
	padding-left: 20px;
}

.contentWrapper .contentBar .staticPage ul li {
	list-style: circle;
}

.staticPage hr {
	border-color: #ddd;
}

.article-item {
	font-size: 16px;
}

.article-item .created {
	font-size: 14px;
	padding: 15px 0;
	color: #4a4a4a;
}

.article-item .article-meta {
	margin-bottom: 12px;
}

.contentWrapper .contentBar .staticPage .pagerBlock {
	text-align: center;
}

.contentWrapper .contentBar .staticPage .pagerBlock ul {
	padding-left: 0;
}

.pagination > li:last-child > a, .pagination > li:last-child > span,
.pagination > li:first-child > a, .pagination > li:first-child > span {
	border-radius: 0;
}

#map {
	width: 100%;
	height: 400px;
}

.mainContent.customScroll {
	max-height: 300px;
}
.submenuP {
	font-size: 18px;
	color: #d8271b;
	padding: 15px 0;
}
.heads .team-box {
	overflow: hidden;
	text-align: center;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: top center;
	margin-bottom: 10px;
	padding-bottom: 20px;
}
.heads .box-1 {
	background-image: url(https://dummyimage.com/270x270/004681/fff);
}
.heads .col-md-3 {
	padding: 0 15px;
} 
.box-desc {
	opacity: .8;
	margin-top: 300px;
}
.box-desc h3 {
	margin: 15px 0;
	font-size: 14px;
}
.box-desc p {
	margin-bottom: 20px;
	font-size: 15px;
}
.box-desc a {
	margin-bottom: 10px;
	font-size: 15px;
}
.history-item {
	padding: 25px 20px;
}
.history-item .col-md-1, .col-md-11, .col-sm-1, .col-sm-11, .col-xs-12 {
	padding: 0 15px;
}
.history-item .year {
	font-weight: bold;
	line-height: 20px;
}
.history-item .bordered {
	border-left: 2px solid #4a4a4a;
}
.siteLogWrapper {
	display: flex;
	justify-content: center;
}
.siteLogWrap {
	padding: 16px;
	border: 1px solid #e5e5e5;
	min-width: 450px;
}
.site-log {
	padding: 0 6.5%;
}
.site-log h1 {
	font-size: 24px;
	margin-bottom: 8%;
}
.site-log label {
	font-size: 16px;
	font-weight: normal;
}
.site-log .btn {
	border-radius: 0;
	padding: 2%;
	font-size: 21px;
	background-color: #004681;
}
.site-log .form-control {
	border-radius: 0;
}
.contentWrapper .contentBar .staticPage .bluemenu {
	padding-left: 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.contentWrapper .contentBar .staticPage .bluemenu li {
	list-style-type: none;
	width: 48%;
}
.contentWrapper .contentBar .staticPage .bluemenu a {
	text-align: left;
}