@media screen and (max-width:1439px) {
	.main-head {
		width: 100%;
	}
	.mnu-head {
		width: 40%;
	}
	.treeListWrapper .container {
		width: 100%;
	}
}
@media screen and (max-width:1200px) {
	.main-head {
		width: 100%;
		padding-top: 22px;
	}
	.content-icon {
		padding-left: 30px;
	}
	.content-wrap .container {
		width: 900px;
	}
	.divi1-wrap {
		margin-right: 20px;
	}
	.divi2-wrap {
		margin: 0 20px;
	}
	.divi2-wrap {
		margin-left: 20px;
	}
	.app-wrap {
		margin-top: 70px;
	}
	.app-wrap h1 {
		padding-bottom: 15px;
		line-height: 1;
	}
	.ad-links img {
		height: 18px;
	}
	.contentWrapper .contentBar {
		width: 83.3%;
	}
	.mnu-head {
		margin-right: 0;
		width: 50%;
	}
	.logoHolder {
		top: 0;
		margin-bottom: 30px;
	}
}
@media screen and (max-width:992px) {
	.mnu-head {
		width: 60%;
	}
	.header-wrap {
		margin-top: 70px;
	}
	.contentWrapper .sidebar {
		padding-right: 15px;
	}
	.content-icon {
		padding-left: 50px;
	}
	.app-online {
		padding-left: 18px;
	}
	.app-download {
		padding-left: 18px;
	}
	.call p {
		padding-top: 15px;
	}
	.call h1 {
		font-size: 14px;
	}
	.search-wrap h1 {
		line-height: 30px;
		padding: 20px 0;
	}
	.searchbar {
		height: 60px;
		font-size: 16px;
	}
	.searchbtn {
		height: 60px;
		border: 4px solid #fff;
		font-size: 16px;
	}
	.hints {
		margin-top: 35px;
		padding: 0 20px 35px 20px;
	}
	.hintToolTip {
		padding: 0 3% 0 3.5%;
	}
	.app-wrap	h1 {
		font-size: 20px;
		padding-bottom: 14px;
	}
	.app-online {
		padding-top: 18px;
		padding-left: 28px;
	}
	.app-download {
		padding-top: 18px;
		padding-left: 28px;
	}
	.useterm {
	margin-right: 0;
	}
	.treeListWrapper .container {
		width: 100%;
	}
	.CatTogglerTitle {
		padding: 3% 0 3% 10%;
		background-position: 1% center;
	}
	.CatTogglerTitle.active {
		background-position: 1% center;	
	}
	.CatTogglerBlock li {
		padding: 0 2% 0 4%;
	}
	a.redAskBnt {
		font-size: 14px;
		padding: 0 0 0 30px;
		background-size: 15px 15px;
	}
}
@media screen and (max-width:920px) {
	.content-icon {
		padding-left: 20px;
	}
	.content-icon .row div {
		margin-right: 10px;
		width: 24%;
	}
	.app-download {
		padding-right: 10px;
	}
	.treeList {
		width: 100%;
		float: none;
	}
	.treeInfo {
		width: 100%;
		float: none;
		padding-left: 0;
		text-align: center;
	}
	.treeContent h1 {
		text-align: center;
	}
	.treeCategory p {
		text-align: left;
	}
	.form-group {
		margin-bottom: 0;
	}
	.productLine {
		margin: 4% 0;
	}
	.productInfo {
		padding-top: 3%;
	}
	.CatTogglerTitle {
		padding: 3% 0 3% 8%;
		background-position: 2% center;
	}
	.CatTogglerTitle.active {
		background-position: 2% center;	
	}
	.CatTogglerBlock li {
		padding: 0 4% 0 4%;
	}
}
@media screen and (max-width:860px) {
	.contentWrapper .sidebar {
		width: 22%;
	}
	.contentWrapper .contentBar {
		width: 78%;
	}
	.content-wrap .container {
		padding-left: 0;
	}
	.content-icon {
		padding-left: 10px;
	}
	.divi1-wrap {
		margin-right: 10px;
		width: 22%;
	}
	.divi2-wrap {
		margin: 0 10px;
		width: 22%;
	}
	.divi3-wrap {
		margin-left: 10px;
		width: 22%;
	}
	.app-download {
		padding-left: 18px;
	}
	.mainContent {
		width: 100%;
		padding-right: 10%;
	}
	.sideContent {
		width: 100%;
		padding: 0 10% 0 0;
	}
	.questionFormHolder {
		margin-top: 0;
	}
	.prodOrderBtn {
		width: 40%;
	}
	.applyOnlBtn {
		width: 55%;
	}
}
@media screen and (max-width:768px) {
	.main-head {
		padding-top: 15px;
	}	
	.logoHolder {
		top: 0;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.mnu-head {
		width: 100%;
		text-align: center;
	}
	.search-wrap h1 {
    font-size: 20px;
    line-height: 15px;
    padding: 15px 0;
	}
	.top-mnu {
	margin-bottom: 0;
	padding-left: 0;
}
	.searchbtn {
    height: 50px;
    border: 2px solid #fff;
	}
	.searchbar {
    height: 50px;
    line-height: 22px;
	}
	.content-icon img {
		width: 100%;
	}
	.divi1-wrap {
		margin-right: 10px;
		width: 27%;
	}
	.divi2-wrap {
		margin: 0 10px;
		width: 27%;
	}
	.divi3-wrap {
		margin-left: 10px;
		width: 27%;
	}
	.hints {
		margin-top: 20px;
		padding-bottom: 15px;
	}
	.hintToolTip::after {
		width: 210px;
		bottom: 30px;
		padding: 10px 10px;
	}
	.hintToolTip::before {
		bottom: 18px;
	}
	.content-wrap {
		margin-top: 30px;
	}
	.content-wrap .container {
    width: 576px;
	}
	.app-wrap {
		margin-top: 40px;
	}
	.app-wrap h1 {
		padding-bottom: 8px;
	}
	.copyright {
		float: none;
		text-align: center;
		margin-left: 0;
	}
	.useterm {
		float: none;
		text-align: center;
		margin-right: 0;
	}
	.footer {
		margin: 25px 0;
	}
	.useterm a {
		display: block;
	}
	.treeList {
		width: 100%;
	}
	.treeInfo {
		width: 100%;
	}
	h1 {
		font-size: 30px;
	}
	.tnvedDesc {
		padding: 1% 0;
	}
	.treeContent .treeCategory h1 {
		font-size: 20px;
	}
}
@media screen and (max-width:767px) {
	.app-online {
		margin-bottom: 30px;	
		height: 300px;
	}
	.app-download {
		margin: 0;
		height: 300px;
	}
	.app-wrap h1 {
		text-align: center;
	}
	a.redAskBnt {
		min-width: 125px;
		padding: 0 0 0 22px;
		background-position: 4px center;
	}
	.newsBlock {
		margin-top: 30px;
	}
}
@media screen and (max-width:640px) {
	.menuicon1 {
		width: 19px;
		height: 18px;
	}
	.menuicon2 {
		width: 17px;
		height: 18px;
	}
	.mainlogo {
		right: 18%;
	}
	.logoHolder .innerWrapper {
		margin: 0 auto;
		width: 141px;
	}
	.contentWrapper .sidebar {
		float: none;
		width: 100%;
		padding: 0;
		text-align: center;
	}
	.contentWrapper .contentBar {
		float: none;
		width: 100%;
	}
	.contentWrapper .contentBar h1 {
		text-align: center;
	}
	.big-slider.owl-carousel .owl-item .mobileVisual {
		display: block;
	}
	.big-slider.owl-carousel .owl-item .desktopVisual {
		display: none;
	}
	.top-mnu span {
		display: none;
	}
	.sidebar-mnu {
		display: none;
	}
	.call h1 {
		font-size: 18px;
	}
	.hintToolTip {
		padding: 0 5%;
	}
	.hints {
		padding: 0 0 35px 0;
		margin-left: 2%;
	}
	.toggle-button {
  text-align: center;
  display: block;
  cursor: pointer;
  background-color: #333;
  color: #fff;
  font-size: 18px;
}
.toggle-button:after {
  content: attr(data-open);
  display: block;
  margin: 10px 0;
  padding: 4px 0;
	}
#menu-checkbox:checked + div[role="navigation"] .sidebar-mnu {
  /* когда чекбокс активен меню становится видимым */
  display: block;
	}
#menu-checkbox:checked + div[role="navigation"] .toggle-button:after {
  content: "\f00d";
  font-family: 'FontAwesome';
  font-weight: normal;
	}
	.content-wrap .container {
		padding: 0;
		width: 100%;
	}
	.content-icon {
		padding-left: 0;
	}
	.content-icon .row div {
		width: 30%;
	}
	.call {
		padding-bottom: 8px;
	}
	.app-download {
		margin: 0;
	}
	.app-wrap h1 {
		text-align: center;
	}
	.copyright {
		margin-left: 0;
	}
	.useterm {
		margin-right: 10px;
	}
	.useterm a {
		padding-left: 0;
		padding-right: 10px;
	}
	.mainContent {
		padding: 0 5% 0 5%;
	}
	.sideContent {
		padding: 0 5% 0 5%;
	}
	.hintToolTip::after {
		width: 190px;
		padding: 6px;
	}
	a.redAskBnt {
		margin: 20px;
		min-width: 165px;
		font-size: 16px;
		padding: 0 10px 0 40px;
		background-position: 10px center;
	}
	.togglerTitle {
		font-size: 28px;
	}
	.certificates .ao-links a {
		width: 85%;
		float: none;
		margin-left: 10%;
	}
	.onlineRequestUnder .ao-links a {
		width: 85%;
		float: none;
		margin-left: 10%;
	}
	.submenu .submenu-links .row div {
		width: 85%;
	}
	.underContent .pull-right {
		float: left !important;
	}
	.contentWrapper .contentBar .staticPage .bluemenu li {
		width: 100%;
	}
}
@media screen and (max-width:480px) {
	.main-head {
		padding-top: 8px;
	}	
	.header-wrap {
    margin-top: 50px;
	}
	.top-mnu {
		text-align: center;
	}
	.top-mnu ul {
		padding-left: 0;
	}
	.searchbar {
		padding-left: 8px;
	}
	.sidebar {
		padding-top: 10px;
	}
	.call p {
		padding-top: 2px;
	}
	.content-icon a {
		font-size: 14px;
	}
	.content-icon .row div {
		display: block;
		width: 40%;
		margin: 0 30% 20px 30%;
	}
	.app-wrap h1 {
		text-align: center;
	}
	.app-online {
		height: 315px;
		margin-bottom: 20px;
	}
	.app-download {
		height: 340px;
	}
	.ad-links a {
		line-height: 14px;
	}
	.mainContent p {
		font-size: 14px;
	}
	.searchinputs .form-group {
		width: 70%;
	}
	.treeContent {
		padding: 3% 0; 
	}
	.treeSearchbtn {
		width: 30%;
		font-size: 16px;
	}
	.treeSearchbar {
		font-size: 16px;
		line-height: 16px;
		padding-left: 5px;
	}
	.treeContent h1 {
		font-size: 21px;
	}
	.treeList {
		padding-right: 0;
	}
	.CatTogglerTitle {
		padding: 3% 0 3% 10%;
		background-position: 1% center;
	}
	.CatTogglerTitle.active {
		background-position: 1% center;	
	}
	.CatTogglerBlock li {
		padding: 0 2% 0 4%;
	}
	.treeContent .productInfo h1 {
		font-size: 18px;
	}
	.newsBlock {
		margin-top: 20px;
	}
	a.allNewsBtn {
		width: 100%;
	}
	.certificates .ao-links a {
		width: 90%;
		margin-left: 5%;
	}
	.onlineRequestUnder .ao-links a {
		width: 90%;
		margin-left: 5%;
	}
	.siteLogWrap {
		min-width: 100%;
	}
}
@media screen and (max-width:320px) {
	.search-wrap h1 {
		font-size: 18px;
		line-height: 10px;
		padding: 25px 0;
	}
	.content-wrap .container {
    width: 320px;
	}
	.searchMainInputs .form-group {
		width: 75%;
	}
	.searchbtn {
		width: 25%;
	}
	.hintToolTip {
		padding: 0 5% 0 6%;
	}
	.content-icon {
		padding-left: 0;
	}
	.content-icon a img {
		margin-bottom: 0;
	}
	.app-wrap h1 {
		font-size: 16px;
		padding: 10px 0;
	}
	.app-online {
		padding: 5px 0 5px 15px;
		height: 300px;
	}
	.mCSB_dragger {
		height: 100px;
	}
	.ao-links a.blueArrowedBtn {
		font-size: 14px;
		padding: 8px 8px 8px 0;
		margin-bottom: 5px;
	}
	.ao-links a.redArrowedBtn {
		font-size: 14px;
		padding: 8px 8px 8px 0;
		margin-bottom: 5px;
	}
	.ad-links a {
		line-height: 12px;
	}
	.ad-links img {
		width: 28px;
		height: 12px;
		padding-right: 5px;
	}
	.newsBlock {
		padding: 10px 0;
	}
	.newsBlock h1 {
		font-size: 18px;
		line-height: 18px;
	}
	.newsBlock .newsItem {
		padding-left: 90px;
	}
	.newsBlock .newsItem span {
		width: 86px;
	}
	.useterm {
		text-align: center;
	}
	.useterm a {
		display: inline-block;
	}
	.searchbar {
		line-height: 1;
		padding-left: 5px;
	}
	.searchbtn {
		padding: 1px 0;
	}
	.hints {
		padding-bottom: 8px;
	}
	.treeInfo {
		text-align: center;
	}
	.prodOrderBtn {
		width: 60%;
	}
	.applyOnlBtn {
		width: 65%;
	}
	.treeContent h1 {
		font-size: 18px;
	}
	.treeContent .treeCategory h1 {
		font-size: 16px;
	}
	.treeContent .productInfo h1 {
		font-size: 16px;
	}
	.newsBlock h1 {
		font-size: 16px;
	}
	.newsBlock .newsItem {
		font-size: 14px;
	}
	.togglerTitle {
		font-size: 18px;
	}
	.site-contact {
		font-size: 14px;
	}
	.certificates .ao-links a {
		width: 100%;
		margin-left: 0;
	}
	.onlineRequestUnder .ao-links a {
		width: 100%;
		margin-left: 0;
	}
}